<!DOCTYPE html>
<html><head>
	<meta charset="utf-8"><title>Trellato</title>
	<link rel="stylesheet" type="text/css" href="styles.css" inline />
</head><body ng-app="trellato" ng-controller="mainCtrl">

	<button ng-hide='trello.isLoggedIn' ng-click='login()'>Connect to Trello</button>
	<div ng-if='trello.isLoggedIn'>
	<div>
		<select ng-model='selectedBoard'
		  ng-options='b.id as b.name for b in sprintBoards'
		  ng-change='selectBoard(selectedBoard)'>
		  <option style="display:none" disabled value="">
		    Storyboard...</option>
		</select>
		<label><input type="checkbox" ng-model='options.enableStacking'>
			Enable Collapsifying
		</label>
		<label><input type="checkbox" ng-model='options.hideTestTasks'>
			Hide test tasks
		</label>
		<button ng-click='logout()'>Log out of Trello</button>
	</div>

	<div class='trellable' ng-repeat='list in storyLists'>
		<listname></listname>
		<div ng-repeat='story in list.cards | filter:showCard' 
			 class='listcards' ng-class='{storyrow: story.boardId}' story>

			<div ng-if='!taskLists' style='width: {{colwidth}}'>
				<td ng-class='{story: taskLists}'>
					<div card='story'></div>
				</td>
			</div>

			<table ng-if='taskLists'>
				<colgroup>
					<col style='width: {{colwidth}}' />
					<col ng-repeat='col in cols' style='width: {{colwidth}}' />
				</colgroup>
				<tr>
					<td ng-class='{story: taskLists}'>
						<div card='story'></div>
					</td>
					<td ng-repeat='col in cols' 
						ng-init='list = taskLists[$index]'>
						<div tasklist></div>
					</td>
				</tr>
			</table>		
		</div>
		<div style='clear: left'></div>
	</div>
	</div>
	<script src="lib.js"></script>
	<script type="text/javascript" src="https://api.trello.com/1/client.js?key=%TRELLO_API_KEY%"></script>
	<script type="text/javascript">
		window.orgId = '%ORG_ID%';
	</script>
	<script src="app.js"></script>	
</body></html>